<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FLOSS Scale - Question {{id}}</title>
  </head>
  <body>
    <h1>Question {{id}}</h1>
    <h3>{{question_text}}</h3>
    <ul>
      {{#each choices}}
      <li>
        <form action="/{{../id}}" method="post">
          <button type="submit" name="selection" value="{{@index}}">{{this}}</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </body>
</html>
